@import url("https://use.typekit.net/ylt6wmi.css");
@import url("https://use.typekit.net/hmf7fjw.css");
@import url("https://use.typekit.net/ovz5wmn.css");
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cairopixel');


body { 
  display: grid;
  font-family: "input-mono", monospace;
  background-color: rgb(252, 244, 244);
}


.dropdown-container {
  position: fixed;
  right: 20px;
  padding-top: 15px;
  text-align: center;
  z-index: 10;
}

.dropdown-trigger {
  font-family: 'Cairopixel', sans-serif;
  font-size: 28px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1.2px solid rgb(189, 9, 111);
  background-color: rgb(252, 244, 244);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-trigger:hover {
  box-shadow: 2px 2px 5px rgb(189, 9, 111),
              -2px -2px 5px rgb(189, 9, 111),
               2px -2px 5px rgb(189, 9, 111),
              -2px 2px 5px rgb(189, 9, 111);
}

.dropdown-menu {
  position: absolute;
  top: 99%;
  left: 57%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
}

.dropdown-container:hover .dropdown-menu {
  display: flex;
}

.dropdown-connector {
  position: absolute;
  pointer-events: none;
}

.dropdown-connector line {
  stroke: rgb(189, 9, 111);
  stroke-width: 1;
}


#ok, #ok2 {
  border: 1px solid rgb(189, 9, 111);
  z-index: 1000;
  width: max-content;
  text-align: center;
  padding: 5px;
  background: rgb(252, 244, 244);
  text-decoration: none;
  font-size: 12px;
  color: rgb(189, 9, 111);
  font-family: "input-mono", monospace;
  font-weight: 100;
}

#ok {
  margin-top: 30px;
  margin-left: auto;
  margin-right: 70px;
}

#ok2 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 25px;
}

#ok:hover,
#ok2:hover {
  box-shadow: 2px 2px 5px rgb(189, 9, 111),
              -2px -2px 5px rgb(189, 9, 111),
               2px -2px 5px rgb(189, 9, 111),
              -2px 2px 5px rgb(189, 9, 111);
}

/* LINK */

#ketis-link,
#ketis-link:visited,
#ketis-link:hover,
#ketis-link:active,
#ketis-link:focus {
  color: rgb(189, 9, 111);
  text-decoration: none;
  font-family: "Cairopixel";
}

#ketis-link:hover {
  text-shadow: 2px 2px 5px rgb(189, 9, 111),
              -2px -2px 5px rgb(189, 9, 111),
               2px -2px 5px rgb(189, 9, 111),
              -2px 2px 5px rgb(189, 9, 111);
}
#text {
  margin-left: 20px;
  font-family: "input-mono", monospace;
  color:rgb(189, 9, 111);
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  height: fit-content;
  border: 1px solid rgb(189, 9, 111);
  text-align: center;}

#text4 {
  font-size: 13px;
  text-align: left;
  width: 42%;
  height: 100%;
  display: block;
  margin-top: 2dvh;
  margin-bottom: 30px;
  margin-left:5%;
}

#text2 {
  font-size: 13px;
color: rgb(189, 9, 111);
}

#text1 {
  font-size: 1pc;
  text-align: left;
  width: 102%;
  display: block;
  margin-top: 2dvh;
  margin-bottom: 30px;
  color: rgb(29, 57, 70);

}


#imgGrid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, auto); 
  justify-content: center;
  align-items: center;
  margin: -10 auto;  
  width: 90%;
  height: 90%;
  gap: 10px;
}


#imgGrid2 img,
#imgGrid2 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.4s ease;
}

.img-item:hover {
  box-shadow: 2px 2px 5px rgb(189, 9, 111),
              -2px -2px 5px rgb(189, 9, 111),
               2px -2px 5px rgb(189, 9, 111),
              -2px 2px 5px rgb(189, 9, 111);
  z-index: 3;
}


#imgGrid2 img.enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  max-width: 90vw;
  max-height: 90vh;

  width: auto;
  height: auto;

  object-fit: contain;
  z-index: 19;
}

@media (max-width: 700px) {
  #imgGrid2 {
    grid-template-columns: 1fr !important;
    width: 90%;
    gap: 8px;
  }

  #text4 {
    width: 60%;
    font-size: 12px;
    margin-left:5%;
  }
}

#text3 {
        style:none;
  align-content: right;            
  font-size: 14px;        
  color: rgb(189, 9, 111);    
  font-family: "input-mono", monospace;
  font-weight: 100;
  padding: 5px;        
}
#text3 a{margin: 5px;
  padding: 5px;
  border: 1px solid rgb(189, 9, 111); 
    
}
.insta-btn{
  position: fixed;
  bottom: 10px;
  right: 80px;
  color: rgb(189, 9, 111);
  border:1px solid  rgb(189, 9, 111);
  background:transparent;
  font-size:14px;
  text-decoration:none;
  font-weight:Thin;
  transition:0.3s;
}

.insta-btn:hover{
  box-shadow: 2px 2px 5px rgb(189, 9, 111),
  -2px -2px 5px rgb(189, 9, 111),
   2px -2px 5px rgb(189, 9, 111),
  -2px 2px 5px rgb(189, 9, 111);
}

.insta-btn2{
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: rgb(189, 9, 111);
  border:1px solid  rgb(189, 9, 111);
  background:transparent;
  font-size:14px;
  text-decoration:none;
  font-weight:Thin;
  transition:0.3s;
}

.insta-btn2:hover{
  box-shadow: 2px 2px 5px rgb(189, 9, 111),
  -2px -2px 5px rgb(189, 9, 111),
   2px -2px 5px rgb(189, 9, 111),
  -2px 2px 5px rgb(189, 9, 111);
}

