@import url("https://use.typekit.net/hmf7fjw.css");
@import url("https://use.typekit.net/ovz5wmn.css");
@import url('https://fonts.cdnfonts.com/css/cairopixel');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body { 
  font-style: thin;
  display: grid;
  min-height: 100vh;
  background-size: .5em .5em;
  font-family: "input-mono", serif;
  background-color:rgb(252, 244, 244);
}
.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.input-mono {
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
}

.dropdown-container {
  position: fixed;
  font-style: thin;
  right: 20px;
  padding-top: 15px;
  font-weight: 400;
  text-align: center;
  z-index: 999;
}

  .dropdown-trigger {
    font-size: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1.2px solid rgb(189, 9, 111);
    background-color: rgb(252, 244, 244);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    z-index: 9999;
  }
  

.dropdown-menu {
  position: absolute;
  top: 99%;
  left: 57%; 
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  z-index: 10;

}

.dropdown-container:hover .dropdown-menu {
  display: flex;
  color:rgb(189, 9, 111);
  text-decoration: none;
}
.dropdown-connector {
  position: absolute;
  pointer-events: none;
}

.dropdown-connector line {
  stroke: rgb(189, 9, 111);
  stroke-width: 1;
}

.dropdown-menu a {
}



#ketis-link,
#ketis-link:visited,
#ketis-link:hover,
#ketis-link:active,
#ketis-link:focus {
  color: rgb(189, 9, 111);
  text-decoration: none;
  border: none;
  box-shadow: none;
  font-family: "Pixelify Sans", sans-serif;
  display: fixed;
}

#ok {
  border: 1px solid rgb(189, 9, 111); /* Combined duplicate border rules */
  z-index: 1000;
  width: max-content;
  text-align: center;
  padding: 5px;
  background: rgb(252, 244, 244);
  text-decoration: none;
  font-size: 12px;
  color: rgb(189, 9, 111);
  font-family: "input-mono", monospace;
  font-weight: 100;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 40px;
}

  #ok:hover {
    box-shadow:2px 2px 5px rgb(151, 255, 239),
     -2px -2px 5px rgb(151, 255, 239),
      2px -2px 5px rgb(151, 255, 239),
       -2px 2px 5px rgb(151, 255, 239);}
  
 .dropdown-trigger:hover {
    border-radius: 50%;
    box-shadow:2px 2px 5px rgb(151, 255, 239),
     -2px -2px 5px rgb(151, 255, 239),
      2px -2px 5px rgb(151, 255, 239),
       -2px 2px 5px rgb(151, 255, 239);
 }

.splash-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

#splash.fade-out {
  opacity: 0;
  pointer-events: none;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh; 
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: visible;
  transition: opacity 1.4s ease-out, visibility 1.4s ease-out;
  font-family: "Pixelify Sans", sans-serif;
font-style: normal;
z-index: 1000;
overflow:visible;
}

.splash-screen.hide {
  opacity: 0;
  visibility: hidden;
}
 
#splash-svg {
  overflow:visible;
  max-width: 400px;
  font-family: "Pixelify Sans", sans-serif;
}



#cw { font-family: "Pixelify Sans", sans-serif;
  animation: spinCW 18s linear infinite;
  transform-origin: 150px 150px;
  font-weight: 600;
  font-size: 44px;
  font-kerning: thin;
  color: rgb(189, 9, 111);
  transition: text-shadow 0.3s ease-in-out;
}

#cw:hover {
  text-shadow: 2px 2px 5px rgb(151, 255, 239),
  -2px -2px 5px rgb(151, 255, 239),
   2px -2px 5px rgb(151, 255, 239),
    -2px 2px 5px rgb(151, 255, 239);
}

#ccw {
  animation: spinCCW 18s linear infinite;
  transform-origin: center;
  transform-origin: 150px 150px;
  font-family: "altesse-std-24pt", sans-serif;
  font-weight: 300;
  font-size: 15px;
    color: rgb(189, 9, 111);
  transition: text-shadow 0.3s ease-in-out;
}

    @keyframes spinCW {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    }

    @keyframes spinCCW {
      from { transform: rotate(360deg); }
      to   { transform: rotate(0deg); }
    }


    .star {
      position: fixed;
      top: -10px;
      color: rgb(255, 0, 43);
      animation: fall linear forwards;
      pointer-events: none;
    }

    @keyframes fall {
      to {
        transform: translateY(110vh);
        opacity: 0;
      }
    }

    .shadow {
      text-decoration: none;
      transition: text-shadow 2s ease-in;
    }
    
    .shadow:hover {
      text-shadow: 
        2px 2px 5px rgb(124, 211, 255),
       -2px -2px 5px rgb(101, 255, 234),
        2px -2px 5px rgb(75, 219, 255),
       -2px 2px 5px rgb(76, 186, 255);
      transition: text-shadow 0.3s ease-in;
    }
    
    .text a {
      transition: opacity 0.8s ease;
    }

.text a.clicked {
opacity: 0;}

.slider {
  margin-top: 100px;
  padding:5%;
  width: 50vh;
  height: 50dvh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.slide-track {
  display: flex;
  flex-direction: column;
  animation: scroll-vertical 40s cubic-bezier(.45,.05,.55,.95) infinite;
  will-change: transform;
}
.slide {
  position: relative;
  flex: 0 0 100%;

}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.slide img:hover {
  box-shadow:2px 2px 5px rgb(189, 9, 111),
  -2px -2px 5px rgb(189, 9, 111),
   2px -2px 5px rgb(189, 9, 111),
    -2px 2px 5px rgb(189, 9, 111);
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.caption-overlay {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-family: "input-mono", monospace;
  margin-left: 440px;
  bottom:50%;
  top: 50%;
  font-size: 10px;
  text-align: left;
  width: 65%;
  color: rgb(29, 57, 70);
}

@media (max-width: 500px) {
  .caption-overlay {
    display: none;
    
  }
}


.slide:hover .caption-overlay {
  opacity: 1;
  
}
@keyframes scroll-vertical {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -50%, 0);
  }
}
.dropdown-connector line {
  stroke: rgb(189, 9, 111);
  stroke-width: 1.2;
}

.dropdown-container:hover .dropdown-connector {
  display: block;
}
.projects-container {
  border: 1px solid rgb(189, 9, 111);
  width: 20%;
  text-align: left;
  padding: 5px;
  background: rgb(252, 244, 244);
  font-size: 12px;
  color: rgb(189, 9, 111);
  font-family: "input-mono", monospace;
  font-weight: 100;
  margin: 10px;
  position: fixed;
}

.projects-container a {
  display: block;             
  border: 1px solid rgb(189, 9, 111);
  padding: 5px;
  margin: 5px 0;
  text-decoration: none;
  color: rgb(189, 9, 111);
  background: rgb(252, 244, 244);
  cursor:pointer;
}
.projects-container a:hover{
  box-shadow:2px 2px 5px rgb(151, 255, 239),
  -2px -2px 5px rgb(151, 255, 239),
   2px -2px 5px rgb(151, 255, 239),
    -2px 2px 5px rgb(151, 255, 239);

}
@media (max-width: 600px) {
  .projects-container {
    display: none;
  }
}

/* Reset counter */
.slide-track {
  counter-reset: slide-number;
}

.slide {
  position: relative;
  counter-increment: slide-number;
}

/* Number styling */
.slide::before {
  content: counter(slide-number);
  position: absolute;
  left: -40px;    
  top: 5px;
  font-size: 30px;
  font-weight: thin;
  color: rgb(189, 9, 111);
  z-index: 5;
  font-family: "input-mono", monospace;
}

/* Hide numbers on small screens */
@media (max-width: 768px) {
  .slide::before {
    display: none;
  }}

#text3 {
        
  right: 10px;              
  font-size: 14px;        
  color: rgb(189, 9, 111);    
  font-family: "input-mono", monospace;
  font-weight: 100;
  padding: 5px;        
}
#text3 a{margin: 5px;
  padding: 5px;
  border: 1px solid rgb(189, 9, 111); 
    
}

.insta-btn{
  position: fixed;
  bottom: 10px;
  right: 80px;
  color: rgb(189, 9, 111);
  border:1px solid  rgb(189, 9, 111);
  background:transparent;
  font-size:14px;
  text-decoration:none;
  font-weight:Thin;
  transition:0.3s;
}
@media (max-width: 600px) {
  .text3{
    display: none;
  }
}
.insta-btn:hover{
  box-shadow:2px 2px 5px rgb(151, 255, 239),
  -2px -2px 5px rgb(151, 255, 239),
   2px -2px 5px rgb(151, 255, 239),
    -2px 2px 5px rgb(151, 255, 239);
}
.insta-btn2{
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: rgb(189, 9, 111);
  border:1px solid  rgb(189, 9, 111);
  background:transparent;
  font-size:14px;
  text-decoration:none;
  font-weight:Thin;
  transition:0.3s;
}

.insta-btn2:hover{
  box-shadow:2px 2px 5px rgb(151, 255, 239),
  -2px -2px 5px rgb(151, 255, 239),
   2px -2px 5px rgb(151, 255, 239),
    -2px 2px 5px rgb(151, 255, 239);
}
@media (max-width: 600px) {
  .projects-container, 
  .text3,
  .insta-btn,
  .insta-btn2 {
    display: none !important;
  }
}
